header{
    width: auto;
    height: 150px;
    background-color: #f1f1f1;

}

app-header{
    width: auto;
    height: auto;
}

app-produc-list{
    float: center;
}

main{
    height: 1000px;
    width: 100%;
}